* {
  margin:0;
  padding: 0;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
}

.logo {
  background-color: skyblue;
  width: 25%;
  height: 100%;
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  display: flex;
  background-color: yellow;
}

.menu .menubar {
  width: 100%;
  height: 100%;
  
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu .menubar ul li {
  list-style: none;
  padding-bottom: 2.5%;
  height:100%;
}

.menu .menubar ul li a {
  text-decoration: none;
  color: green;
  position: absolute;
  font-size: 1.5vw;
}

.menu .menubar ul li .submenu{
  display:none;
  width:120px;
  border:1px solid black;
  position:absolute;
  z-index:10;
  background-color:white;
  height:auto;
  box-sizing:border-box;
  overflow:hidden;
  top:10%;
  
  
}

.menu .menubar ul li .submenu li{
list-style:none;
  padding:5px 10px;

}
.menu .menubar ul li .submenu li a {
color:black;
  font-size:1vw;
  text-decoration:none;
  position:relative;  
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  
  
}


.menu .menubar ul li:hover .submenu{

display:block;

  
}
