* {
  margin:0;
  padding: 0;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
}

.logo {
  background-color: skyblue;
  width: 25%;
  height: 100%;
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  display: flex;
  background-color: yellow;
}

.menu .menubar {
  width: 90%;
  height: 100%;
  
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu .menubar ul li {
  list-style: none;
  height:100%;
  align-items:center;
  position:relative;
  display:flex;
}

.menu .menubar ul li a {
  text-decoration: none;
  color: green;
  position: absolute;
  font-size: 1.5vw;
  display:flex;
}

.menu .menubar ul li .submenu{
  display:none;
  width:120px;
  border:1px solid black;
  position:absolute;
  z-index:10;
  background-color:white;
  height:auto;
  box-sizing:border-box;
  overflow:hidden;
  top:100%;
  
  
  
}

.menu .menubar ul li .submenu li{
list-style:none;
  padding:5px 10px;

}
.menu .menubar ul li .submenu li a {
color:black;
  font-size:1vw;
  text-decoration:none;
  position:relative;  
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  
  
}


.menu .menubar ul li:hover .submenu{

display:block;

  
}
.menu .mobilebar .hamberger {
  width:10%;
  height:100%;
  background-color:pink;
  display:flex;
  align-items:center;
  cursor:pointer;
  

  
}
.menu .mobilebar .hamberger span{
width:20%;
  height:2px;
  background-color:black;
  display:block;
  border-radius:2px;
  box-shadow:0 7px 0 white , 0 -7px 0 white;
  
  
  

  
}
